*, *::before, *::after {
  box-sizing: border-box;
  font: inherit;
}

* {
  margin: 0;
  padding: 0;
  font-size: inherit;
}
  
html{font-size: 16px;}
@media only screen and (max-width:600px){ html{font-size:15px;}}
body {
  height: 100vh;
  background-color: var(--body-bg);
  color: var(--color-body);
  text-rendering: optimizeSpeed;
  -webkit-font-smoothing:antialiased; 
  scroll-behavior: smooth;
  -moz-osx-font-smoothing: grayscale;
  font-family: 'Roboto', sans-serif;
  font-family: 'Lato', sans-serif;
  letter-spacing: .2px;
  word-spacing: 0;
  visibility: visible;
  font-weight: 400;
}
body.modal-open{
  overflow: hidden;
}
p{margin-bottom:inherit !important;}
a{text-decoration: none !important; color: #187cb7;}

img, picture, svg, video {
  max-width: 100%;
  border-radius: 5px;
}
ul[role="list"], ol[role="list"]{
  list-style: none;
} 
.dN{display: none !important;}
.vN{visibility: hidden;}
.experience-view {
  display: none;
}

.hide {
  display: block !important;
}
/* flex common class - start */
.flex { display: flex;}
.flexC { display: flex; align-items: center; }
.flexIC { display: inline-flex; align-items: center; }
.flexM { display: flex; align-items: center;  justify-content: center; }
.flex-col { display: flex; flex-direction: column; }
.flex-col-rev { display: flex; flex-direction: column-reverse; }

.fdir-col { flex-direction: column; }
.flexG { flex-grow: 1;}
.fshrink { flex-shrink: 0; }
.flex1 { flex: 1; }
.flexW { flex-wrap: wrap; }
.justifySB { justify-content: space-between; }
.justifySE { justify-content: space-evenly; }
.justifyC { justify-content: center; }
.justifyE { justify-content: flex-end; }
.justifyS { justify-content: flex-start; }
.justifyA{justify-content: space-around;}
.alignC { align-items: center; }
.alignS { align-items:flex-start; }
.alignE { align-items:flex-end; }
/* flex common class - end */
/* grid common css start */
.grid{display: grid;}
.gridM{place-content: center;}
.grid-col2{grid-template-columns: 1fr 1fr;}
.grid-col3{grid-template-columns: repeat(3, 1fr );}
.grid-col4{grid-template-columns: repeat(4, 1fr );}
.grid-col5{grid-template-columns: repeat(5, 1fr );}

/* grid common css end */
.flex200{flex:1 1 200px}
/* gap start */
.gap5{gap: 5px;}
.gap10{gap: 10px;}
.gap12{gap: 12px;}
.gap14{gap: 14px;}
.gap20{gap: 20px;}
.gap24{gap: 24px;}
.gap30{gap: 30px;}
.gap34{gap: 34px;}
.gap40{gap: 40px;}
.gap50{gap: 50px;}

.gapR10{row-gap: 10px;}
.gapR20{row-gap: 20px;}
.gapR24{row-gap: 24px;} 
.gapR30{row-gap: 30px;}
.gapR34{row-gap: 34px;}
.gapR36{row-gap: 36px;}

.gapC10{column-gap: 10px;}
.gapC20{column-gap: 20px;}
.gapC24{column-gap: 24px;}
.gapC30{column-gap: 30px;}
.gapC34{column-gap: 34px;}
.gapC40{column-gap: 40px;}

/* GAP end *
/* dimetion - start */
.w-fit{width: fit-content;}
.w-fit-i{width: fit-content !important;}

.w-auto{width:auto;}
.w-auto-i{width:auto !important;}
.w-50{width: 50%;}
.w-100{width: 100%;}
.w-50 { width: 50%; }
.w-25 { width: 25%; }
.w-80{width: 80%;}

.w-620{ width: min(620px, 100%);}
.w-600{width: min(600px, 100%);}
.w-500{width: min(500px, 95%);}
.w-400{ width: min(400px, 60%);}
.w-300{ width: min(300px, 34%);}
.w-260{ min-width: min(260px, 40%);}
.w-200{ width: min(200px, 34%);}
.w-190{ width: min(190px, 30%);}
.w-185{ width: min(185px, 30%);}
.w-180{ width:180px;}
.w-160{ width: min(160px, 100%);}


/* .w-200 {
    width: min(200px, calc(40% - 20px));
} */

.h-fit{height:fit-content;}
.h-auto{height:auto;}
.h-0{height: 0% !important;}
.h-50{height: 50%;}
.h-100{height: 100%;}
.h-96{height: 96%;}
/* dimention - end */

/* overflow start */
.overf-A{overflow: auto;}
.overf-H{overflow: hidden;}
.overf-X{overflow-x: auto; overflow-y: hidden;}
.overf-Y{overflow-x: hidden; overflow-y: auto;}
/* overflow end */

/* list style start */
.listS-none{list-style: none;}
/* list style  end */

/* Text property - start */
.textC { text-align: center; }
.textS { text-align:start;}
.textI { font-style: italic;}
.textT-Capitilize{text-transform: capitalize;}
.textJ{text-align: justify;}
.whiteS{white-space: nowrap;}
.ponter-none{pointer-events: none;}
.textUnder{text-decoration: underline !important; }
.visible{visibility: visible;}
/* Text property - end */
.round5{border-radius: 5px;}
/* postion  */
.pos-rel{position: relative;}
.pos-abs{position: absolute;}
.pos-fixed{position: fixed;}
.abs-C{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
/* border css */
.borderR5{border-radius: 5px;}

/* font - start */
.fs12 {font-size:var(--fs12);}
.fs13 {font-size:var(--fs13);}
.fs14 {font-size:var(--fs14);}
.fs15 {font-size:var(--fs15);}
.fs16 {font-size:var(--fs16);}
.fs17 {font-size:var(--fs17);}
.fs18 {font-size:var(--fs18);}
.fs20 {font-size:var(--fs20);}
.fs22 {font-size:var(--fs22);}
.fs24 {font-size:var(--fs24);}
.fs26 {font-size:var(--fs26);}
.fs28 {font-size:var(--fs28);}
.fs30 {font-size:var(--fs30);}
.fs40 {font-size:var(--fs40);}
.fs50 {font-size:var(--fs50);}
/* font - end */
/* font style start */
.fs-italic{font-style: italic;}

/* line height - start*/
.line1{line-height: 1;}
.line12 {line-height:0.675rem;}
.line14 {line-height: .875rem;}
.line20 {line-height: 1.125rem;}
.line22 {line-height: 1.375rem;}
.line24 {line-height: 1.5rem;}
.line26 {line-height: 1.65rem;}
.line28 {line-height: 1.75rem;}
/* line height - end*/
/* margin - start*/
.m0{margin: 0;}
.mAuto{margin: auto;}
.m5{margin: 5px;}
.m10{margin: 10px;}
.m14{margin: 14px;}
.m20{margin: 20px;}
.m24{margin: 24px;}
.m30{margin: 30px;}
.m40{margin: 40px;}
.m60{margin: 60px;}

.mT0{margin-top: 0;}
.mT5  {margin-top:  5px;}
.mT10 {margin-top: 10px;}
.mT14 {margin-top: 14px;}
.mT20 {margin-top: 20px;}
.mT24 {margin-top: 24px;}
.mT30 {margin-top: 30px;}
.mT40 {margin-top: 40px;}
.mT46 {margin-top: 46px;}
.mT50 {margin-top: 50px;}
.mT60 {margin-top: 60px;}
.mT90 {margin-top: 90px;}



.mB{margin-bottom: 0;}
.mB5{margin-bottom: 5px;}
.mB10{margin-bottom: 10px;}
.mB14{margin-bottom: 14px;}
.mB20{margin-bottom: 20px;}
.mB24{margin-bottom: 24px;}
.mB26{margin-bottom: 26px;}
.mB30{margin-bottom: 30px;}
.mB40{margin-bottom: 40px;}
.mB60{margin-bottom: 60px;}
.mB100{margin-bottom: 100px;}

.mL0{margin-left: 0;}
.mLauto{margin-left: auto;}
.mL5{margin-left: 5px;}
.mL10{margin-left: 10px;}
.mL14{margin-left: 14px;}
.mL20{margin-left: 20px;}
.mL24{margin-left: 24px;}
.mL30{margin-left: 30px;}
.mL34{margin-left: 34px;}
.mL40{margin-left: 40px;}
.mL50{margin-left: 50px;}
.mL60{margin-left: 60px;}
.mL70{margin-left: 70px;}

.mR0{margin-right: 0;}
.mRauto{margin-right: auto;}
.mR5{margin-right: 5px;}
.mR10{margin-right: 10px;}
.mR14{margin-right: 14px;}
.mR20{margin-right: 20px;}
.mR20i{margin-right: 20px !important;}
.mR24{margin-right: 24px;}
.mR30{margin-right: 30px;}
.mR40{margin-right: 40px;}

.mY0{margin-block: 0;}
.mY5{margin-block:5px;}
.mY10{margin-block:10px;}
.mY20{margin-block:20px;}
.mY24{margin-block:24px;}
.mY30{margin-block:30px;}
.mY40{margin-block:40px;}
.mY50{margin-block:50px;}

.mX0{margin-inline: 0;}
.mX5{margin-inline: 5px;}
.mX10{margin-inline: 10px;}
.mX20{margin-inline: 20px;}
.mX24{margin-inline: 24px;}
.mX30{margin-inline: 30px;}
.mX40{margin-inline: 40px;}
.mX50{margin-inline: 50px;}
.mX70{margin-inline: 70px;}
/* margin - end*/

/* padding - start*/
.p0{padding:0;}
.pAuto{padding: auto;}
.p5 { padding: 5px;}
.p10 { padding: 10px;}
.p14 { padding: 14px;}
.p20 { padding: 20px;}
.p24 { padding: 24px;}
.p30 { padding: 30px;}
.p40 { padding: 40px;}

.pT0{padding-top: 0;}
.pT5{padding-top: 5px;}
.pT10{padding-top: 10px;}
.pT14{padding-top: 14px;}
.pT20{padding-top: 20px;}
.pT24{padding-top: 24px;}
.pT30{padding-top: 30px;}
.pT40{padding-top: 40px;}
.pT50{padding-top: 50px;}
.pT60{padding-top: 60px;}
.pT100{padding-top: 100px;}

.pB0{padding-bottom: 0px;}
.pB5{padding-bottom: 5px;}
.pB10{padding-bottom: 10px;}
.pB14{padding-bottom: 14px;}
.pB20{padding-bottom: 20px;}
.pB24{padding-bottom: 24px;}
.pB30{padding-bottom: 30px;}
.pB40{padding-bottom: 40px;}

.pL0{padding-left: 0;}
.pL5{padding-left: 5px;}
.pL10{padding-left: 10px;}
.pL14{padding-left: 14px;}
.pL20{padding-left: 20px;}
.pL24{padding-left: 24px;}
.pL30{padding-left: 30px;}
.pL40{padding-left: 40px;}
.pL60{padding-left: 60px;}
.pL70{padding-left: 70px;}

.pR0{padding-right:0;}
.pR5{padding-right:5px;}
.pR10{padding-right: 10px;}
.pR14{padding-right: 14px;}
.pR20{padding-right: 20px;}
.pR24{padding-right: 24px;}
.pR30{padding-right: 30px;}
.pR40{padding-right: 40px;}
.pR50{padding-right: 50px;}

.pY0{padding-block: 0px;}
.pY5{padding-block: 5px;}
.pY10{padding-block: 10px;}
.pY20{padding-block: 20px;}
.pY24{padding-block: 24px;}
.pY30{padding-block: 30px;}
.pY40{padding-block: 40px;}
.pY50{padding-block: 50px;}

.pX0{padding-inline: 0px;}
.pX5{padding-inline: 5px;}
.pX10{padding-inline: 10px;}
.pX20{padding-inline: 20px;}
.pX22{padding-inline: 22px;}
.pX24{padding-inline: 24px;}
.pX30{padding-inline: 30px;}
.pX40{padding-inline: 40px;}
.pX50{padding-inline: 50px;}
.pX70{padding-inline: 70px;}
/* padding - end*/
/* border radius */
.bR6{border-radius: 6px;}
.bR10{border-radius: 10px;}
.bR20{border-radius: 20px;}
.bR50p{border-radius: 50%;}
.bR100p{border-radius: 100%;}
/* border radius end */

/* word ellipsis */
.ellips{
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 50%;
}
.ellips-w-100{
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 100%;
}
.cur{cursor: pointer;}
.nf-link-color{color: rgb(69, 69, 222);}
.nf-bold-text{font-weight:var(--fw-600);}
.hover:hover{color: var(--color-success);}
.hover:active{transform: scale(.88); transition: all 0.3s ease 0s;}

/* Add your custom styles here */
.custom-row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.custom-col {
  flex: 0 0 48%;
}

.custom-col-image {
  text-align: center;
  margin-bottom: 30px;
}

.custom-image {
  border-radius: 50%;
  max-width: 100%;
  height: auto;
}

.custom-col-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.custom-heading {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 20px;
}

.custom-lead {
  font-size: 18px;
  margin-bottom: 20px;
}

.custom-button-wrapper {
  margin-top: 20px;
}

.custom-button {
  padding: 10px 20px;
  background-color: #4c8c87;
  color: #fff;
  border: none;
  border-radius: 4px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.custom-button:hover {
  background-color: #63a69f;
}

.custom-icon {
  margin-right: 10px;
}
  
 
.menu-icon{display: none ; line-height: 1;}

@media only screen and (max-width: 1300px) {
  .grid-lg-col1 { grid-template-columns: 1fr; }
  .grid-lg-col2 { grid-template-columns: 1fr 1fr; }
  .grid-lg-col3 { grid-template-columns: repeat(3, 1fr); }
  .grid-lg-col4 { grid-template-columns: repeat(4, 1fr); }
}
@media only screen and (max-width: 920px) {
  /* flex common media class start */
  .mediaQ-md-flex-col, .md-flex-col { flex-direction: column; }
  .media-justifySB { justify-content: space-between; }
  .media-justifyC { justify-content: center; }
  .media-justifyE { justify-content: flex-end; }
  .media-alignC { align-items: center; }
  .flex1-none { flex:none; width: 100%; }
  /* new */
  .grid-md-col1 { grid-template-columns: 1fr; }
  .grid-md-col2 { grid-template-columns: 1fr 1fr; }
  .grid-md-col3 { grid-template-columns: repeat(3, 1fr); }
  .grid-md-col4 { grid-template-columns: repeat(4, 1fr); }
  .mediaQ-gap20 { gap: 20px; }
  /* flex common media end */
  /* text property start */
  .media-textC { text-align: center; }
  /* text property end */
  .md-dN{display: none !important;}
  .md-pT60{padding-top: 60px;}
  .md-pT30{padding-top: 30px;}
  .mX70 { margin-inline: 40px;}
  .md-dir-reverse{flex-direction: column-reverse;}
  .media-w-100 { width: 100%; }
  .media-pB10 { padding-bottom: 10px; }
  .media-mL0 { margin-left: 0; }
  .media-w-400 { width: min(400px, 100%); }
  .media-flex1N { flex: auto; }
  .media-w-190 { width: max(190px, calc(50% - 10px)); }
  .w-200 { width: max(200px, calc(50% - 10px)); }

  .showcase-content {
    height: auto; 
  }
  .lead-text {
    max-width:fit-content;
    padding-right: 0;
  }
  .lead-text.read-more{padding-right: 10px;}
  ul.cl-nav.cl-nav-tabs.open {
      visibility: visible;
      opacity: 1;
  }
  /* ul.cl-nav.cl-nav-tabs:after {
    content: '';
    position: absolute;
    background: var(--bg-white);
    height: 14px;
    width: 14px;
    transform: rotate(45deg);
    left: 12%;
    top: -5px;
    box-shadow: -2px -2px 5px -3px rgba(0,0,0,0.3);
    z-index: 0;
  } */
  .dark-mode {
      border-left: none;
      padding-inline: 10px 0px;
      margin-left: 20px !important;
      display: flex;
      line-height: 1;
  }
  .menu-icon {
      display: block !important;
      line-height: 1;
  }
  .image-box {
    width: 100%;
    height: 400px;
  }
    .profile-image {
      background: transparent;
      padding: 0;
  }
  .about-profile-image {
    background: linear-gradient(0deg, #a6414a, transparent);
  }
}
@media only screen and (max-width: 767px) {
  .wrapper {
    height: 100%;
    overflow: unset;
    overflow-x:unset;
}
.grecaptcha-badge {
  display: none !important;
}
.dark-mode-body {
  bottom: unset;
  right: 4px;
  top: 10px;
}
  .section-contents { margin: 0 0 0 0; gap: 0px; padding: 5px;}
  .header {
    position: static;
    gap: 20px;
    padding:20px 0px 10px;
    width: 100%;
    box-shadow: var(--shadow-normal);
}
.image-box {
  height:auto;
}
li.cl-nav-item {
  margin-bottom:0;
}
.footer {
  min-height: auto;
  padding-inline: 10px;
  padding-block:20px 10px;
  margin-top: 20px;
  background: var(--main-bg);
  }
 /* scrolltop btn */
 .scroll-to-top-button {
  position: absolute;
  top: -14px;
    right: 14px;
    height: 30px;
    width: 30px;
  display: flex !important;
  background-color: var(--color-themer);
  color: #fff;
  font-weight: 800;
  border: none;
  border-radius: 60px;
  align-items: center;
  justify-content: center;
}

  /* bookshelf */
  .bookshelf--frame .book-wrapper {
    width: min(200px, 50%);
    min-height: 250px;
    align-items: self-start;
  }
  .bookgroup{
    grid: unset;
    display: flex;
    flex-wrap: wrap;
  }

  .contact {padding: 14px;box-shadow: 0px 0px 6px -3px var(--bg-themer2);}
  .contact__info {
    min-width: auto;
    height: auto;
  }

  .form-input-box {
      padding-inline: 0;
  }
  .horizontal-line { display: none; }
  .menu-icon { display: block; line-height: 1; }
  ul.cl-nav.cl-nav-tab.open { opacity: 1; visibility: visible; }
  .sm-flex-col { flex-direction: column; }
  .sm-justifyC {justify-content: center;  }
  .sm-flexC {align-items: center; }
  .sm-col-reverse { flex-direction: column-reverse; }
  .mL70 { margin-left: 0px; }
  .post-share-buttons.goog-inline-block {
    width: 100%;
  }
  .post-footer-line.post-footer-line-1 {
    display: flex;
    /* white-space: nowrap; */
    align-items: center;
    margin-bottom: 10px;
  }

  .dark-mode {
    border-left: none;
    padding-inline:0px;
    margin-left: 10px;
    display: flex;
    line-height: 1;
  }
  .m40 { margin: 0px; }
  ul.cl-nav.cl-nav-tabs.open {
    visibility: visible;
    opacity: 1;
  }
  .pR30 { padding-right: 20px; }
  .pL70 { padding-left: 20px; }
  .section {
    padding: 0 10px;
    display: block;
  }
  .sm-dN{display: none;}
  .sm-block{display: block !important;}
  .sm-flex{display: flex !important;}
  .sm-gap0 { gap: unset; }
  .sm-gap5 { gap: 5px; }
  .sm-gap10 { gap: 10px; }
  .sm-gap14 { gap: 14px; }
  .sm-gap20 { gap: 20px; }
  .sm-fs16{font-size: 16px;}
  .sm-p0 { padding:0; }
  .sm-pR0 { padding-right:0; }
  .sm-pT0 { padding-top: 0; }
  .sm-mT0 {margin-top: 0px; }
  .sm-mT10 { margin-top: 10px; }
  .sm-pT10 { padding-top: 10px; }
  .sm-pT20 { padding-top: 20px; }
  .sm-pT50 { padding-top: 50px; }
  .sm-pT10 { padding-top: 10px; }
  .sm-pB10 { padding-bottom: 10px; }
  .sm-pB20 { padding-bottom: 20px; }
  .sm-mB10 { margin-bottom: 10px; }
  .sm-w-100{width: 100%;}
  .sm-textC{text-align: center;}
  .sm-textJ{text-align: justify;}
  .sm-fs22{font-size: var(--fs22);}
  .sm-fs12{font-size: var(--fs12);}
  .sm-fs10{font-size: var(--fs10);}
  .profile-image {
    background:transparent;
    height: 100%;
    padding: unset;
}
  
  .w-620, .w-180, .w-600, .w-400, .w-300, .w-220, .w-200, .w-190, .w-185, .nf-btn {
    width: 100%;
  }
  .p24 { padding: 14px; }
  .mediaQ-sm-justifyC { justify-content: center; }
  .sm-justifyE { justify-content: end; }
  .mediaQ-flex-col { flex-direction: column; }
  .mediaQ-sm-flex-col { flex-direction: column; }
  .media-sm-flex1N { flex: auto; }
  .mediaQ-mB30 { margin-bottom: 30px; }
  .grid-sm-col1 { grid-template-columns: 1fr; }
  .grid-sm-col2 { grid-template-columns: 1fr 1fr; }
  .grid-sm-col3 { grid-template-columns: repeat(3, 1fr); }
  .grid-sm-col4 { grid-template-columns: repeat(4, 1fr); }
  .grid-sm-none { display: flex; }
  .p40 { padding: 0; }
  .fs40 {
    font-size: var(--fs28);
  }
  .cl-btn.sm, .cl-btn {
    height: 30px;
    padding: 0 16px;
    font-size: var(--fs14);
    font-weight: 600;
  }
  .single-blog-post-title {
    /* margin-right: 20px; */
    font-size: var(--fs22);
  } 
  .blog-posts-item {
    border-bottom: 2px solid var(--color-border);
  }
  .cl-nav-link {
    gap: 3px;
  }
  button.close-button {
    padding: 7px 14px !important;
    height: 28px !important;
  }
  .back-list-btn {
    top: -10px;
    right: -10px;
}
  .profile-image-box {
    width: 170px;
    height: 170px;
    background-size: 171px;
}
  
  .experience {
    box-shadow: 0px 0px 3px -1px var(--bg-themer2);
  }
  .experience:hover {
    transform:unset;
    box-shadow: 0px 0px 3px -1px var(--bg-themer2);
  }
  .experience-view-contain {
    margin: 10px;
    max-height: 91%;
    padding: 10px 0px 0px 20px;
    height: auto;
    border-top:2px solid transparent;
}
  .close-btn-absolute {
    position: sticky;
    right: 1px;
    bottom: 0px;
    width: 100%;
    background: var(--body-bg);
    padding: 2px 6px 6px;
  }
  .experience-view-contain .close-icon {
    right: 4px;
    top: 4px;
    border-radius: 6px;
    font-size: var(--fs26);
  }
  .experience-view {
    position: fixed;
    top: 0;
    width: 100%;
    overflow-x: hidden;
    z-index: 100;
  }
  .nfl-view {
      display: table-cell !important;
  }
  .fixed-bottom-box {
      padding: 4px 14px;
      padding-top: 10px;
      justify-content: space-between;
  }
  .question-wrap {
      overflow: auto;
  }
  .dropdown-body {
      top: 63px;
  }
  .lead-text {font-size: 17px; padding-right: auto;}
  .about-profile-image img, .profile-image img {
    border-radius: 6px;
    box-shadow: unset;
  }
  .resume-pdf {
    width: 100%;
    height: 100%;
}
  .post-footer {flex-direction: column;}
  .blog-post-card-date {
    border-radius: 3px;
    padding-inline: 6px;
    font-size: 10px;
    height: auto;
    position: absolute;
    bottom: 2px;
    right: 2px;
    font-weight: 400;
    background: transparent;
    color: var(--color-gray);
  }
  .blog-post-card-title {font-size: 16px;}
  .single-blog-post-container {
    margin: 10px;
    padding: 14px;
}
  .social-icon {
    gap: 10px;
  }
  .blog-posts-container {
    margin: 10px;
  }
  .bookbox {
    width: 100%;
    transition:unset;
  }
  .blog-post-card {
    padding: 6px 10px 20px;
  }
  .bookshelf--frame {
    margin:10px;
    display: flex;
    flex-wrap: wrap;
    gap: 14px;
  }
  
  .share-button {
    margin-right: 10px;
  } 
  .cl-nav.cl-nav-tabs {
    display: flex;
    gap: 20px 30px;
    padding: 0px 10px 0px;
    align-items: center;
    margin-bottom: 0;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    position: relative;
}
.cl-nav.cl-nav-tabs:after {
  position: absolute;
  content: '';
  width: 100%;
  top: 45%;
  border: 1px dotted var(--color-border);
}
  .mobile-view{display: flex !important;}
  .sm-cl-btn-special{padding: 0 20px !important;}
  .social-icon.pos-rel:after {
    position: absolute;
    content: '';
    width: 100%;
    height: 1px;
    background: var(--color-border);
    top: 140%;
    right: 50%;
    transform: translateX(50%);
}
 }
