<!-- Optional JavaScript; choose one of the two! -->

<!-- Option 1: Bootstrap Bundle with Popper -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
  integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
<script src="https://unpkg.com/commentbox.io/dist/commentBox.min.js"></script>
<script>
  let commentbutton = document.getElementById('commentButton');
  if(commentbutton){
    commentbutton.addEventListener("click", function () {
    commentBox('5704207160049664-proj', {
      className: 'commentbox', // the class of divs to look for
      defaultBoxId: 'commentbox', // the default ID to associate to the div
      tlcParam: 'tlc', // used for identifying links to comments on your page
      sortOrder: 'best', // specify the default comment sort order ("best", "newest", "oldest")
      backgroundColor: 'transparent', // default transparent
      textColor: 'black', // default black
      subtextColor: 'grey', // default grey
    });
  });
  }
</script>
<!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.0/js/bootstrap.bundle.min.js"></script> -->
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="../js/main.js"></script>